@using NSE.WebApp.MVC.Extensions
@using NSE.WebAPI.Core.User
@inject IAspNetUser AppUser

@if (AppUser.IsAuthenticated())
{
    <div>
        <vc:Basket></vc:Basket>
    </div>
    <div>
        <div class="dropdown d-inline-block">
            <button class="btn icontext dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="icon icon-sm rounded-circle" src="https://s.gravatar.com/avatar/@this.HashEmailForGravatar(AppUser.GetUserEmail())?d=mm&s=45" alt="User Avatar">
            </button> <!-- iconbox // -->
            <ul class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" asp-controller="Order" asp-action="MyOrders">My Orders</a>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="Identity" asp-action="Logout">Logout</a></li>
            </ul>
        </div>
    </div>

}
else
{
    <div class="widget-header">
        <small class="title text-muted">Bem vindo!</small>
        <div class="d-flex">
            <a class="me-2" asp-controller="Identity" asp-action="Register">Create your account</a>
            <span>|</span>
            <a class="ms-2" asp-controller="Identity" asp-action="Login">Login</a>
        </div>
    </div>

}