@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mt-3">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    @if(Model is null)
    {
        <h2 class="text-danger">An error occurred while processing your request.</h2>
        <p>
            Ops! Something went wrong. Please try again later or contact our support.
        </p>    
    }
    else
    {
        <h2>@Model.Title</h2>
        <p>
            @Html.Raw(Model.Message)
        </p>
    }
</div>